@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

@media only screen and (min-width:375px)
{
    body
    {
        background-color: hsl(210, 46%, 95%);
        font-family: 'Barlow semi condensed';
        font-size: 13px;
        padding: 0%;
        margin: 0%;
        width:100%;
        height:100%;
    

    }
    .container
    {
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .mycol1
    {
      display: inline-block; 
      background-color: hsl(263, 55%, 52%);
      border-radius: 10px;
      margin:10px;
      padding: 10px;
    }
    .mycol2
    {
        display:inline-block;
        background-color: hsl(217, 19%, 35%);
        border-radius: 10px;
        margin:10px;
        padding: 10px;
    }

    .mycol3
    {
        display: inline-block;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        margin:10px;
        padding: 10px;
    }
.mycol4
{
    display: inline-block;
    background-color: hsl(219, 29%, 14%);
    border-radius: 10px;
    margin:10px;
    padding: 10px;
}
.mycol5
{
    display: inline-block;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin:10px;
    padding: 10px;
}
.vg
{
    color:hsl(0, 0%, 81%);
    opacity: 50%;
    float:right;
    margin-top: -50px;
    margin-right: 150px;
}
.wname
{
    display: inline-block;
    color: hsl(0, 0%, 81%);
    margin-right:170px;
    margin-top: 20px;
    float:right;

}
#dwname
{
    margin-right:180px;
    margin-top: -20%;
    float:top;
    
}
#jowname
{
    margin-right:160px;
    margin-top: 20px;
}
.bname
{
    color: hsl(219, 29%, 14%);
    display: inline-block;
    margin-right:170px;
    margin-top: 20px;
    float:right;
}
#jevgb
{
    color: hsl(219, 29%, 14%);
    opacity:50%
}
#kbname
{
    margin-right:190px;
    margin-top: 20px;
    color:hsl(219, 29%, 14%);
}
#white
{
    display: inline-block;
    color:hsl(0, 0%, 100%);
    font-weight: bold;
    font-size:19px;
    padding: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    
}
.black
{
    color:hsl(219, 29%, 14%);
    display: inline-block;
    font-weight: bold;
    font-size:20px;
    padding: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}
#jblack
{
    letter-spacing: 2px;
    color: hsl(219, 29%, 14%);
 
}
   
#jegb
{
    color: hsl(219, 29%, 14%);
    opacity:70%;
}
#kblack
{
    color:hsl(219, 29%, 14%);
    letter-spacing: 1px;
}
#kvgb
{
    color:hsl(219, 29%, 14%);
    opacity: 50%;
}
#kgb
{
    color:hsl(219, 29%, 14%);
    opacity: 70%;
}
.grey
{
    display: inline-block;
    color:hsl(0, 0%, 81%);
    padding:10px 0 5px 5px;
    opacity: 70%;
    
    
}
img
{
    display: inline;
    border-radius: 50%;
    margin:15px  10px 10px;
}
svg
{
    margin-left: 65%;
    margin-top: -52%;
}

}


@media only screen and (min-width:1440px)
{
body
{

    font-family: 'Barlow Semi Condensed';
    font-size: 13px;
        padding: 0%;
        margin: 0%;
        width:100%;
        height:100%;
    background-color: hsl(210, 46%, 95%);

}
.container
{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.mycol1
{
   display: inline-block; 
    background-color: hsl(263, 55%, 52%);
    padding:10px;
    margin: 80px 10px 0px 105px ;
    height:290px;
    width:540px;
    border-radius:10px;

}
.mycol2
{
    display:inline-block;
    background-color: hsl(217, 19%, 35%);
    padding:35px 5.6px 35px 10px;
    height:235px;
    width:295px;
    border-radius:10px;
    float: right;
    margin-right: 30%;
    margin-top:6%;
    
}
.mycol3
{
    display: inline-block;
    background-color: hsl(0, 0%, 100%);
    margin-left: 7%;
    float: left;
    height:30px;
    width:300px;
    border-radius:10px;
    margin-top:0.5%;
    padding:250px 5px 0  10px;
}
.mycol4
{
    display: inline-block;
    background-color: hsl(219, 29%, 14%);
    padding:0 0 40px 5px;
    height:240px;
    width:550px;
    border-radius:10px;
    margin-right:440px;
    float:right;
    margin-top: 0.5%;
}

.mycol5
{
    background-color: hsl(0, 0%, 100%);
    padding:10px 30px 0 30px;
    height:610px;
    width:200px;
    border-radius:10px;
    float:right;
    margin-top: -44%;
    margin-right:8.7%;
    
}


.wname
{
  color: hsl(0, 0%, 81%);
}
#dwname
{
    margin-right:73%;
    margin-top: -12%;
    
}
.vg
{
    display: inline-block;
    color:hsl(0, 0%, 81%);
    opacity: 50%;
}
#dvg
{
    margin-right: 70%;
    margin-top: -50px;
    
}

#jowname
{
    margin-right:43%;
    margin-top: 2%;
    float:top;
}
#jovg
{
    
    margin-right: 42%;
    margin-top: -2px;
    
}
#joimg
{
    display: inline-block;
    margin-top: -1%;
    float: left;  
}
.bname
{
    display: inline-block;
    color: hsl(219, 29%, 14%);
    margin-top: -70%;
    margin-right: 45%;
}
#jevgb
{
    margin-right: 45%;
    margin-top: -65%;
    color: hsl(219, 29%, 14%);
    opacity:50%
 
}
img.jeimg
{
    display: inline-block;
    margin-top: -75%;
    float: left;
    
}
#jblack
{
    color: hsl(219, 29%, 14%);
    display: inline-block;
    letter-spacing: 2px;
    margin-top: -150px;
    float:left;

}
#jegb
{
    display: inline-block;
    margin-top: -30%;
    float:left;
    color: hsl(219, 29%, 14%);
    opacity:70%


}
#pwname
{
    display: inline-block;
    margin-right: 70%;
    float:right; 
}
#pvg
{
    margin-right: 67%;
}
#pgrey
{
    display: inline-block;
    margin-top: -1%;
}

#white
{
    color:hsl(0, 0%, 100%);
    font-weight: bold;
    padding: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}
.black
{
    color:hsl(219, 29%, 14%);
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}

#kbname
{
   color:hsl(219, 29%, 14%);
   display: inline-block;
    margin-right: 30%;
    float:right; 
}
#kblack
{
    color:hsl(219, 29%, 14%); 
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#kvgb
{
    color:hsl(219, 29%, 14%);
    opacity: 50%;
    display: inline-block;
    margin-right: 15%;
    float:right;
}

#kgb
{
    color:hsl(219, 29%, 14%);
    opacity: 70%;
}

.grey
{
    color:hsl(0, 0%, 81%);
    font-size: 13px;
    opacity: 70%;
}
img
{
    display: inline-block;
    border-radius: 50%;
}
svg
{
    margin-left: 80%;
    margin-top: -52%;
}

}
